
li{
    list-style-type:none;
    padding: 5px 25px;
}
.col-md-3 li{
    padding-top: 10px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
    color: rgb(44, 44, 44);
}
.col-md-3 li:hover{
    background-color: rgb(231, 231, 231);
}
.col-sm-9 .card-header a{
    font-size: 24px;
    font-weight:bold;
}
.headerBlock{
    display: flex;
    align-items: center;
}
.icon{
    flex: 1;
}
.headerText{
    flex: 5;
    text-align: center;
}
.search{
    order: 1;
}
.searchBtn{
    padding: 0 8px;
    margin-right: 15px;
}
.searchBtn:hover{
    background-color: black;
    color: white;
    transition: ease-in-out 0.15s;
}
.fa-hand-o-left{
    margin-left: 20px;
}
.fa-hand-o-left {
    margin-left: 20px;
}
.fa-home, .fa-reply{
    font-size: 40px; 
    color: gray;
    margin-right: 25px;
}
.fa-home:hover, .fa-reply:hover{
    color: black;
}
.field{
    margin: 10px 0;
}
input{
    padding: 2px 4px;
}