{% extends "base.html" %}
{%block title%}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>新增分類</h3>
    <a href="/categoryManagePage/"><i class="fa fa-reply" aria-hidden="true"></i></a>
</div>
{%endblock headmessage%}
{% block content%}
<form action="/addCategory/" method="post">
    <h3 style="color: red;">{{ msg }}</h3>
    {% csrf_token %}
    <div class="field">
        <label for="name">類名： </label>
        <input type="text" name="name" id="">
    </div>
    <input type="submit" value="新增">
</form>
{% endblock content %}