{% extends "base.html" %}
{% block title %}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>新增館員</h3>
    <a style='font-family:微軟正黑體;' href="/">回首頁</a>
</div>
{% endblock headmessage %}

{% block content%}
    <a href="/librarianManage/">返回館員管理</a>
    <form action="/addLibrarianPage/" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="輸入用戶帳號...">
        <button type="submit">搜索</button>
    </form>
    {% if librarian %}
        <table>
            <tr>
                <td>姓名</td>
                <td>email</td>
            </tr>
            <tr>
                <td>{{ librarian.last_name }}{{ librarian.first_name }}</td>
                <td>{{ librarian.email }}</td>
            </tr>
        </table>
        {% if librarian.is_staff %}
            <p>該用戶已是圖書員</p>
        {% else %}
            <a href="/addLibrarian/{{ librarian.id }}" onclick="alert('確定新增{{ librarian.first_name }}嗎')">新增為圖書員</a>
        {% endif %}
    {% else %}
        <p>{{ msg }}</p>
    {% endif %}
{% endblock content %}