{% load getAllCategoryForMenu %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <style>
        a{
            text-decoration:none;
            color: rgb(44, 44, 44);
        }
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container-fluid">
            {% include 'header.html'%}
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-3 col-md-3">
                    <div class="card">
                        <div class="card-header">
                            <h3>
                                {% if request.user.is_active %}
                                    {% if request.user.is_superuser %}
                                        歡迎 {{ request.user.first_name }} 管理
                                    {% elif request.user.is_staff %}
                                        歡迎 {{ request.user.first_name }} 圖書員
                                    {% else %}
                                        歡迎 {{ request.user.first_name }} 讀者
                                    {% endif %}
                                {% else %}
                                    <li><p>當前尚未登入</p></li>
                                {% endif %}
                            </h3>
                        </div>
                        <div class="list-group" style="font-size: 21px;">
                                {% if request.user.is_active %}
                                    <li><a href="/modifyInformation/">密碼修改</a></li>
                                    <li><a href="/logout/">登出</a></li>
                                {% else %}
                                    <li><a href="/login/">登入</a></li>
                                    <li><a href="/register/">註冊</a></li>
                                {% endif %}
                        </div>
                    </div>
                    <br>
                    {% if request.user.is_active %}
                    <div class="card">
                        <div class="card-header">
                            <h3>我的借書資料</h3>
                        </div>
                        <div class="list-group" style="font-size: 21px;">
                            <li><a href="/borrowList/">借閱列表</a></li>
                            <li><a href="/needReturn/">即將到期圖書</a></li>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <div class="card">
                        <div class="card-header">
                            <h3>圖書員功能</h3>
                        </div>
                        <div class="list-group" style="font-size: 21px; margin: 0;">
                            <li><a href="/returnBookPage/">還書處理</a></li>
                            {% if request.user.is_superuser %}
                            <li><a href="/bookManagePage/">書籍管理</a></li>
                            <li><a href="/categoryManagePage/">分類管理</a></li>
                            <li><a href="/librarianManage/">圖書館員管理</a></li>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <h3>圖書分類<h3>
                        </div>
                        <div class="list-group" style="font-size: 21px;">
                            <li><a href="/">主頁</a></li> 
                            {% get_menu_categories as categories %}   
                            {% for category in categories %}    
                                <li><a href="/category/{{ category.id }}/">{{ category.name }}</a></li>  
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9">
                <div class="card">
                    <div class="card-header">
                    {% block headmessage %}
                    {% endblock %}
                </div>
                <div class="card-body">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="card-footer">
                    {% include 'footer.html' %}
                </div>
            </div>
                </div>
            </div>
        </div>
        <hr>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>