{% extends "base.html" %}
{%block title%}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h2>書籍介紹</h2>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/bookPage.css' %}">
{%endblock headmessage%}

{% block content%}
<div class="block">
    <div class="text">
        <h3>{{book.title}}</h3>
        <p>作者:{{book.author}}</p>
        <p>{{ book.content }}</p>
        <br>
        <p>出版日期:{{book.publication_date}}</p>

        {% if msg %}
            <p style="color: red; font-weight: bold;">{{ msg }}</p>
        {% else %}
        <button onclick="window.location.href='/borrowBook/{{ book.id }}'">借閱此書</button>
        {% endif %}
    </div>
    <div class="cover">
        <img src="{{ book.cover }}">
    </div>
</div>


{% endblock content %}