{% extends "base.html" %}
{%block title%}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>{{ msg }}</h3>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
{%endblock headmessage%}
{% block content%}
{% if msg == '借閱成功！' %}
    <img src="{{ borrowing_record.book.cover }}" style="width: 200px;">
    <h3 style='font-family:微軟正黑體;'>{{borrowing_record.book.title}}</h3>
    <p>借閱日期: {{ borrowing_record.borrowing_date}}</p>
    <p>到期日期： {{ borrowing_record.due_date }}</p>
{% else %}
    <p>去看看別的書吧</p>
{% endif %}
{% endblock content %}