{% extends "base.html" %}
{%block title%}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>{{ category.name }} 資訊修改</h3>
    <a style='font-family:微軟正黑體;' href="/categoryManagePage/"><i class="fa fa-reply" aria-hidden="true"></i></a>
</div>
{%endblock headmessage%}
{% block content%}
<form action="/categoryModify/{{ category.id }}" method="post">
    <h3 style="color: red;">{{ msg }}</h3>
    {% csrf_token %}
    <div class="field">
        <label for="name">分類名： </label>
        <input type="text" name="name" id="" value="{{ category.name }}">
    </div>
    <input type="submit" value="修改">
</form>
{% endblock content %}