{% load static %}
<div style="text-align: center;padding: 40px 0;margin: 0;">
    <p>11056012吳佳耘   11056014伍紀帆   11056015許有騫</p>
</div>
<div class='well'>
    <img src="{% static "img/book.png" %}" height="100">
</div>
<div style="display: flex; justify-content: space-between;">
    <div>
        <h1 style="font-family:微軟正黑體;">歡迎光臨 猴子的叢林圖書館</h1>
        {% if request.user.is_active %}
            <p>歡迎 {{ request.user.first_name }}</p>
            <a href="/logout/">登出</a>
        {% else %}
            <a href="/login/">登入</a>
            <a href="/register/">註冊</a>
        {% endif %}
        
    </div>
    <form method="GET" action="{% url 'search' %}">
        <input type="text" name="keyWord" placeholder="搜索圖書...">
        <button type="submit">搜索</button>
    </form>
</div>

