{% extends "base.html" %}
{%block title%}猴子的叢林圖書館{% endblock title %}
{% block headmessage %}<h3 style='font-family:標楷體;'>叢林藏書列表</h3> {%endblock headmessage%}
{% block content%}
{%for book in books%}
<div class='card'>
    <div class='card-header'>
        <a href='/book/{{book.id}}/'>{{book.title}}<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
    </div>
    <br>
    <div class='card-body' style='background-color:#ffffff'>
        <p>作者:{{book.author}}</p>
        <p>類型:<a href='/category/{{book.category_id}}/'>{{book.category}}</a></p>
        <p>借閱量：{{book.borrow_count}}</p>
        <p>館內餘量:{{book.available_quantity}}</p>
    </div>
    <div class='card-footer'  style='background-color:#cacaca'>
        <p>
            {{ book.content | truncatechars:40 }}
        </p>
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}