{% extends "base.html" %}
{% block title %}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>{{ u.username }} 還書成功</h3>
    <a style='font-family:微軟正黑體;' href="/">回首頁</a>
</div>
{% endblock headmessage %}

{% block content%}
    {% if returnCorrect %}
        {% for recording in returnCorrect %}
            <p>{{ recording.book.title }} 歸還成功</p>
        {% endfor %}
    {% endif %}
{% endblock content %}