{% extends "base.html" %}
{% block title %}猴子的叢林{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between;align-items: center;">
    <h3 style='font-family:標楷體;'>{{ category }}類藏書列表</h3>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
{% endblock headmessage %}

{% block content %}
{% if books %}
{% for book in books %}
<div class='card'>
    <div class='card-header'>
        <a href='/book/{{book.id}}/'>{{book.title}}<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
    </div>
    <br>
    <div class='card-body' style='background-color:#ffffff'>
        <p>作者:{{ book.author }}</p>
        <p>類型:<a href='/category/{{ book.category_id }}/'>{{ book.category }}</a></p>
        <p>借閱量：{{ book.borrow_count }}</p>
        <p>館內餘量:{{ book.available_quantity }}</p>
        <p>當前借閱數：{{ book.reading }}</p>
    </div>
    <div class='card-footer'  style='background-color:#cacaca'>
        <p>{{ book.content | truncatechars:40 }}</p>
    </div>
</div>
<br>
{% endfor %}
{% else %}
<h2>{{ msg }}</h2>
{% endif %}
{% endblock content %}
